.container{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
.card-container{
    width:300px;
    padding: 5px 20px;
    .card-header{
        display: flex;
        gap: 80px;
    h1{
        margin: 0;
    }
    }
}
.card-body-end{
    display: flex;
}
}
.input-container{
    display: flex;
    .input-card{
    margin: 25px;  
    padding: 5px;  
    border: 1px solid black;
    .input-values{
     display: flex;
     flex-direction: column;
     gap: 10px;  
    }
    .input-btn{
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }
    }
    
}
ul{
    list-style: none;
    padding: 0;
.todo-card{
    margin: 25px;  
    padding: 5px;  
    border: 1px solid black;
}
}