body {
    background-color: #b9c7b9;
}

    .App-heading {
        color: #938989;
        font-weight: 300;
       text-align: center;
       font-size: 3rem;
        margin: 0;
    }
    .App {
        padding: 10px 0;
        display: flex;
        gap: 50px;
        text-align: center;
        justify-content: center;
    }

    .todoList {
        .list {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li {
                display: flex;
                background-color: rgb(242, 242, 242);
                font-weight: 500;
                margin: 15px 0;
               
                text-transform: capitalize;
                justify-content: space-between;
            }
            p {
                margin: 0;
                padding: 12px;
            }
            .btn-group {
                .editBtn {
                    background-color: black;
                }
                .delBtn {
                    background-color: red;
                }
                .editBtn,
                .delBtn {
                    border: 1px solid white;
                    font-weight: 700;
                    color: white;
                    padding: 8px;
                    transition: 1s;
                    &:hover {
                        cursor: pointer;
                    }
                }
                i {
                    font-size: 22px;
                }
            }
        }
    }

nav{
    background-color: #2E402F;
    padding: 16px 32px;
    text-align: right;
    a{
        text-decoration: none;
        font-weight: 700;
        color: white;
        margin-right: 16px;
    }
}

.header-container{
    .header-top{
        display: flex;
    justify-content: space-around;
    padding: 16px 32px;
    h2{
        margin: 0;
        color: white;
    }
    button{
        border: none;
        padding: 0 16px;
        background-color: #374036;
        color: white;
        border-radius: 8px;
        &:hover{
            box-shadow: 2px 1px 20px 4px white;
        }
    }
    }
    .input-container{
            display: flex;
            justify-content: center;
    .input-card{
        display: flex;
        justify-content: space-around;
        button{
            background-color: #374036;
            color: white;
        }
    }
}
}