$black-color: #000000;
$white-color: white;
$grey-color: #ccc;
$border-dark: 2px solid $white-color;

@mixin display-content() {
    display: flex;
    justify-content: space-around;
}

@mixin button-design($padding, $background-color) {
    border: none;
    padding: $padding;
    background-color: $background-color;
    text-transform: uppercase;
}

.container {
    border-right: $border-dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    .card-container {
        border-bottom: $border-dark;
        width: 100%;
        .card-header {
                @include display-content();
            .card-header-btns {
                display: flex;
                justify-content: center;
                gap: 20px;
            }
            h2{
                margin: 0;
                color: #615c5c;
            }
            .newTask-btn,
            .deleteTask-btn {
                @include button-design(10px 15px, #f3f3f3);
                
                font-size: 12px;
                border-radius: unset !important;
            }
        }
    }
    .card-body-end {
        display: flex;
    }
}
.input-container {
    .input-card {
        width: 50%;
        padding: 10px 5px;
        border: $border-dark;
        .input-values {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .input-values-field{
                padding: 5px 0;
                font-size: 14px;
            }
        }
        .input-btn {

            .cancelTask{
                border: 0.5px solid #cac6c6;
            }
            @include display-content;
            margin-top: 10px;
            button {
                @include button-design(10px 20px, white);
            }
        }
    }
}
.list-container {
    width: 270px;
    .todo-list {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        gap: 10px;
        margin-bottom: 15px;

        .task-checkbox {
            transform: scale(1.5);
        }
        .todo-card {
            padding: 15px 20px;
            border: $border-dark;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 20px;
            background-color: rgba(255, 255, 255, .15);
            backdrop-filter: blur(5px);
            .todo-card-content {
                display: flex;
                gap: 10px;
                align-items: flex-start;
            }
            .todo-card-top {
                display: flex;
                justify-content: center;
                gap: 5px;
                word-break: break-all;
                .task-description {
                    margin: 0;
                    font-weight: 500;
                    text-transform: capitalize;

                }
            }
        }
    }
}
.todo-card-data {
    display: flex;
    gap: 15px;

    span {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .avatar,
    .date {
        border-radius: 50%;
        height: 20px;
        width: 25px;
    }
    .avatar img{
        width: 25px;
    }
}

.edit-container {
    border: $border-dark;
    padding: 10px 5px;
    .edit-container-top {
        display: flex;
        gap: 10px;
    }
    button {
        @include button-design(10px 20px, floralwhite);
    }
}