$black-color: #000000;
$white-color: white;
$border-dark: 1px solid $white-color;

@mixin display-content() {
    display: flex;
    justify-content: space-around;
}

@mixin button-design($padding, $background-color) {
    border: none;
    border-radius: 6px;
    padding: $padding;
    background-color: $background-color;
}

.container {
    border: $border-dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    .card-container {
        border-bottom: $border-dark;
        width: 300px;
        padding: 5px 20px;
        .card-header {
            display: flex;
            justify-content: space-between;
            h1 {
                margin: 0;
            }
            .newTask-btn {
                @include button-design(0px 15px, floralwhite);
            }
        }
    }
    .card-body-end {
        display: flex;
    }
}
.input-container {
    display: flex;
    .input-card {
        width: 270px;
        margin: 16px 0;
        padding: 10px 5px;
        border: $border-dark;
        .input-values {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .input-btn {
            @include display-content;
            margin-top: 10px;
            button {
                @include button-design(10px 20px, floralwhite);
            }
        }
    }
}
.list-container {
    width: 270px;
    .todo-list {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
        .list-view {
            display: flex;
            gap: 15px;
            .task-checkbox{
                width: 20px;
            }
            .todo-card {
                padding: 5px 20px;
                border: $border-dark;
                .todo-card-top {
                    display: flex;
                    justify-content: center;
                    gap: 15px;
                    .task-description {
                        margin: 0;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
.todo-card-data {
    display: flex;
    gap: 15px;

    span {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .avatar,
    .date {
        border-radius: 50%;
        height: 20px;
        width: 20px;
    }
    .avatar {
        background-color: red;
    }
    .date {
        background-color: #ccc;
    }
}

.edit-container {
    border: $border-dark;
    padding: 10px 5px;
    .edit-container-top {
        display: flex;
        gap: 10px;
    }
    button {
        @include button-design(10px 20px, floralwhite);
    }
}
