body {
    background-color: aliceblue;
    color: rgb(0, 0, 0);
}
.App{
    padding: 5px;
    margin-left: 30px;
    text-align: center;
}
.display {
    text-align: initial;
    h1 {
        color: rgb(0, 0, 0);
        font-weight: 400;
        text-transform: uppercase;
    }
    form{
    .inputDisplay {
        padding: 10px;
    }
    .addBtn,
    .inputDisplay {
        font-size: 16px;
        font-weight: 700;
    }
    .addBtn {
        padding: 10px 15px;
        border: none;
        background-color: #8080fb;
        color: white;
        transition: 0.5s;
        &:hover {
            cursor: pointer;
            box-shadow: 0px 0 20px white;
        }
    }
}
    
}

.todoList {
    .list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
    display: flex;
    background-color: rgb(242,242,242);
    font-weight: 500;
    margin: 15px 0;
    width: 400px;
    text-transform: capitalize;
    justify-content: space-between;
    } 
    p{
        margin: 0;
        padding: 12px;
    }
    .btn-group{
        .editBtn{
        background-color: black;
    }
    .delBtn{
        background-color: red;
    }
    .editBtn , .delBtn {
        border: 1px solid white;
        font-weight: 700;
        color: white;
        padding:8px;
        transition: 1s;
        &:hover {
            cursor: pointer;
        }
    }
    i{
         font-size: 22px;
    }
    }
    
}
}